.container-fluid.borders.rounded
    .row.justify-content-center
        .col-12.col-sm-12.col-md-8.col-lg-8.col-xl-8.bg_grid.rounded-left.border-right
            .list-group.pt-4.pb-4
                %a.list-group-item.list-group-item-action
                    .d-flex.w-100.justify-content-between
                        %h5.mb-1
                            Маляр
                        %small.text-success
                            актуально
                    %p.mb-1.bg-primary
                        Оплата сдельная, до 50% от выработки
                        %sup
                            *
                %a.list-group-item.list-group-item-action
                    .d-flex.w-100.justify-content-between
                        %h5.mb-1
                            Автомеханик
                        %small.text-success
                            актуально
                    %p.mb-1.bg-primary
                        Оплата сдельная, до 50% от выработки
                        %sup 
                            *
                %a.list-group-item.list-group-item-action
                    .d-flex.w-100.justify-content-between
                        %h5.mb-1
                            Менеджер по запчастям
                        %small.text-success
                            актуально
                    %p.mb-1.bg-warning
                        Оклад + % от выработки
                        %sup
                            *
                    %small
                        %sup
                            **
                        по результатам собеседования