.container-fluid.borders.rounded
    .row.justify-content-center
        .col-4.col-sm-4.col-md-2.col-lg-2.col-xl-2.bg_grid.rounded-left.border-right
            .row
                .col.sales
                    %p.sale.text-center
                        %a Акции
                    %ul
                        %li.text-light.sale-li{:"data-toggle" => "tooltip", :"data-placement" => "top", :title => "Распространяеться только на работы. Не распростроняется на запчасти и прочие товары."}
                            скидки до 20% до 31 мая! 
                            %sup *
                        %li.text-light.sale-li{:"data-toggle" => "tooltip", :"data-placement" => "top", :title => "Только при условии обслуживания в нашем сервис-центре и стоимости эвакуации до 3000 рублей"}
                            Эвакуатор бесплатно!
                            %sup **
                        %li.text-light.sale-li{:"data-toggle" => "tooltip", :"data-placement" => "top", :title => "Только при условии дальнейшего обслуживания в нашем сервис-центре!"}
                            Диагностика бесплатно!
                            %sup ***
            .row
                .col
                    %ul.nav.flex-column
                        %li.nav-item
                            = link_to(price_path, class: "nav-link text-light") do
                                Виды ремонтов и цены
                        %li.nav-item
                            %a.nav-link.text-light Запчасти
                        %li.nav-item
                            = link_to(vacancy_path, class: "nav-link text-light") do
                                Вакансии
                        %li.nav-item
                            %a.nav-link.text-light Партнеры
                        %li.nav-item
                            %a.nav-link.text-light О нас
        .col-8.col-sm-8.col-md-6.col-lg-6.col-xl-6.bg_grid.rounded-right.border-left
            /
                .row
                    .col
                        %p.font-4rem.text-light.text-center Мультибренд
                .row
                    .col
                        %p.font-3rem.text-light.text-center Все виды ремонтов
                        %p.font-3rem.text-light.text-center Вашего Авто
            .row
                .carousel.slide#CarouselMainPage{:"data-ride" => "carousel"}
                    .carousel-inner
                        .carousel-item.carousel-item-size
                            %img.d-block.w-100.img-fluid{:src => image_url("multbrand"), :alt => "Мультибренд"}
                            .carousel-caption.d-none.d-md-block
                                %p.carousel-text Мультибренд
                        .carousel-item.carousel-item-size
                            %img.d-block.w-100.img-fluid{:src => image_url("kuzremont"), :alt => "Кузовной ремонт"}
                            .carousel-caption.d-none.d-md-block
                                %p.carousel-text Кузовной ремонт
                        .carousel-item.carousel-item-size
                            %img.d-block.w-100.img-fluid{:src => image_url("raptor"), :alt => "Покраска раптором"}
                            .carousel-caption.d-none.d-md-block
                                %p.carousel-text Покраска раптором
                        .carousel-item.carousel-item-size.active
                            %img.d-block.w-100.img-fluid{:src => image_url("VseVidyRemontov"), :alt => "Все виды ремонтов"}
                            .carousel-caption.d-none.d-md-block
                                %p.carousel-text Все виды ремонтов

                    %a.carousel-control-prev{"data-slide" => "prev", :href => "#CarouselMainPage", :role => "button"}
                        %span.carousel-control-prev-icon{"aria-hidden" => "true"}
                        %span.sr-only Previous
                    %a.carousel-control-next{"data-slide" => "next", :href => "#CarouselMainPage", :role => "button"}
                        %span.carousel-control-next-icon{"aria-hidden" => "true"}
                        %span.sr-only Next

            .row
                .col.border-top.border-bottom.p-0
                    %script{:type => "text/javascript",
                            :src => "https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A6dee49d8f293cffadf44cb6a249b23a9f484ab984e702fd409304d4e1844cd17&amp;width=100%25&amp;height=499&amp;lang=ru_RU&amp;scroll=true"}
            .row
                .col
                    %span.text-light Отзывы
