// Place all the styles related to the MainPage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.font-1rem
{
    font-size: 1rem;
}
.font-1_4rem
{
    font-size: 1.4rem;
}
.font-2rem
{
    font-size: 2rem;
}
.font-2_4rem
{
    font-size: 2.3rem;
}
.font-3rem
{
    font-size: 3rem;
}
.font-4rem
{
    font-size: 4rem;
}

.font_vw
{
    font-size: 3vw;
}

p.sale
{
    font-size: 2rem;
    color: red;
}

p.sale:link
{
    color: OrangeRed;
}

p.sale:focus
{
    color: OrangeRed;
    border-bottom-left-radius: 1px solid;
}

p.sale:hover
{
    color: OrangeRed;
    border-bottom-left-radius: 1px solid;
}

p.sale:active
{
    color: OrangeRed;
    border-bottom-left-radius: 1px solid;
}

.sales
{
    background: rgba(0, 0, 0, 0.5);
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.bg
{
    background-image: url(asset_path("main_page/bg.jpg"));
    background-size: cover;
}

.logo
{
    display: block;
    object-fit: contain;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

}

.tagline-div
{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    //margin: 15px;
}

.tagline
{
    width: 100%;    
    margin-left: auto;
    margin-right: auto;
    //padding-right: 30px;
    //background: rgba(0, 0, 0, 0.5);
    display: block;
}

.body
{
    background-image: url(asset_path("bg_full.jpg"));
    background-attachment: fixed;
    background-size: cover;
}

.bg_grid
{
    background-image: url(asset_path("div_bg.png"));
    background-repeat: repeat;
}

.bg_white_cells
{
    background-image: url(asset_path("bg_white_cells"));
    background-repeat: repeat;
}

.margin_bottom_5
{
    margin-bottom: 5px;
}

.margin-right-5
{
    margin-right: 5px;
}

.margin-left-5
{
    margin-left: 5px;
}

.border_radius_lb_rb
{
    border-radius: 10px 10px 10px 10px;
}


.phone-number
{
    color: white;
    font-family: Garamond, serif;
    font-size: 2vw;
    text-align: center;
    margin-bottom: 0;
    font-weight: bold;
    //text-shadow: 2px 1px 2px grey, 0 0 1px;
}

.work-time
{
    //font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    font-family: Garamond, serif;
    font-size: 2vw;
    text-align: center;
    margin-bottom: 0;
    font-weight: bold;
    //text-shadow: 2px 1px 2px grey, 0 0 1px;
}

.rounded-top-left
{
    border-top-left-radius: 0.25rem;
}
// i.sale-icon
// {
//     color: red;
// }

// i.sale-icon:focus:hover:active
// {
//     color: darkred;
// 