.container-fluid.mt-1
    .row.justify-content-center
        .col-12.col-sm-12.col-md-8.col-lg-8.col-xl-8.bg_grid.borders.rounded
            %p.text-white
                Контакты:
            %p.text-white
                +7(905)706-45-45
            %p.text-white
                +7(926)876-71-49
            %p.text-white
                Москва, Улица Щербинская, дом 48А стр. 11