.container-fluid.borders.rounded.mb-1
    .row.justify-content-center
        .col-12.col-sm-12.col-md-8.col-lg-8.col-xl-8.bg
            = image_tag "logo.png", :class => "logo"
            = image_tag "tagline.png", :class => "tagline"
    .row.justify-content-center
        .col-12.col-sm-12.col-md-8.col-lg-8.col-xl-8.bg_grid.rounded-bottom.d-flex
            .col-5.d-inline
                %p.phone-number +7(905)706-45-45
            .col-2
            .col-5.d-inline
                %p.work-time 8:00 - 20:00